## 在Kangas中可视化嵌入在这个Jupyter Notebook中，我们构建一个包含数据和嵌入投影到2维空间中的Kangas DataGrid。

## 什么是Kangas？[Kangas](https://github.com/comet-ml/kangas/)是一个面向数据科学家的开源、混合媒体、类似数据框的工具。它是由[Comet](https://comet.com/)开发的，Comet是一家旨在帮助减少将模型投入生产过程中的摩擦的公司。

### 1. 设置要开始使用，我们需要使用pip安装kangas，并导入它。

In [1]:
%pip install kangas --quiet

In [2]:
import kangas as kg

### 2. 构建Kangas数据表格我们使用原始数据和嵌入来创建一个Kangas数据表格。数据由一系列评论行组成，而嵌入由1536个浮点值组成。在这个示例中，我们直接从github获取数据，以防您不是在OpenAI的存储库中运行此笔记本。我们使用Kangas将CSV文件读入数据表格中，以便进行进一步处理。

In [3]:
data = kg.read_csv("https://raw.githubusercontent.com/openai/openai-cookbook/main/examples/data/fine_food_reviews_with_embeddings_1k.csv")

Loading CSV file 'fine_food_reviews_with_embeddings_1k.csv'...

1001it [00:00, 2412.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 2899.16it/s]

我们可以查看CSV文件的字段：

In [4]:
data.info()

DataGrid (in memory)
    Name   : fine_food_reviews_with_embeddings_1k
    Rows   : 1,000
    Columns: 9
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   Column 1                       1,000 INTEGER
2   ProductId                      1,000 TEXT
3   UserId                         1,000 TEXT
4   Score                          1,000 INTEGER
5   Summary                        1,000 TEXT
6   Text                           1,000 TEXT
7   combined                       1,000 TEXT
8   n_tokens                       1,000 INTEGER
9   embedding                      1,000 TEXT

并查看第一行和最后一行：

In [5]:
data

<th colspan='1' >          row-id </th> <th colspan='1' >        Column 1 </th> <th colspan='1' >       ProductId </th> <th colspan='1' >          UserId </th> <th colspan='1' >           Score </th> <th colspan='1' >         Summary </th> <th colspan='1' >            Text </th> <th colspan='1' >        combined </th> <th colspan='1' >        n_tokens </th> <th colspan='1' >       embedding </th> <tr>
<td colspan='1' >               1 </td> <td colspan='1' >               0 </td> <td colspan='1' >      B003XPF9BO </td> <td colspan='1' >  A3R7JR3FMEBXQB </td> <td colspan='1' >               5 </td> <td colspan='1' > where does one  </td> <td colspan='1' > Wanted to save  </td> <td colspan='1' > Title: where do </td> <td colspan='1' >              52 </td> <td colspan='1' > [0.007018072064 </td> <tr>
<td colspan='1' >               2 </td> <td colspan='1' >             297 </td> <td colspan='1' >      B003VXHGPK </td> <td colspan='1' >  A21VWSCGW7UUAR </td> <td colspan='1' >               4 </td> <td colspan='1' > Good, but not W </td> <td colspan='1' > Honestly, I hav </td> <td colspan='1' > Title: Good, bu </td> <td colspan='1' >             178 </td> <td colspan='1' > [-0.00314055196 </td> <tr>
<td colspan='1' >               3 </td> <td colspan='1' >             296 </td> <td colspan='1' >      B008JKTTUA </td> <td colspan='1' >  A34XBAIFT02B60 </td> <td colspan='1' >               1 </td> <td colspan='1' > Should advertis </td> <td colspan='1' > First, these sh </td> <td colspan='1' > Title: Should a </td> <td colspan='1' >              78 </td> <td colspan='1' > [-0.01757248118 </td> <tr>
<td colspan='1' >               4 </td> <td colspan='1' >             295 </td> <td colspan='1' >      B000LKTTTW </td> <td colspan='1' >  A14MQ40CCU8B13 </td> <td colspan='1' >               5 </td> <td colspan='1' > Best tomato sou </td> <td colspan='1' > I have a hard t </td> <td colspan='1' > Title: Best tom </td> <td colspan='1' >             111 </td> <td colspan='1' > [-0.00139322795 </td> <tr>
<td colspan='1' >               5 </td> <td colspan='1' >             294 </td> <td colspan='1' >      B001D09KAM </td> <td colspan='1' >  A34XBAIFT02B60 </td> <td colspan='1' >               1 </td> <td colspan='1' > Should advertis </td> <td colspan='1' > First, these sh </td> <td colspan='1' > Title: Should a </td> <td colspan='1' >              78 </td> <td colspan='1' > [-0.01757248118 </td> <tr>
...
<td colspan='1' >             996 </td> <td colspan='1' >             623 </td> <td colspan='1' >      B0000CFXYA </td> <td colspan='1' >  A3GS4GWPIBV0NT </td> <td colspan='1' >               1 </td> <td colspan='1' > Strange inflamm </td> <td colspan='1' > Truthfully wasn </td> <td colspan='1' > Title: Strange  </td> <td colspan='1' >             110 </td> <td colspan='1' > [0.000110913533 </td> <tr>
<td colspan='1' >             997 </td> <td colspan='1' >             624 </td> <td colspan='1' >      B0001BH5YM </td> <td colspan='1' >   A1BZ3HMAKK0NC </td> <td colspan='1' >               5 </td> <td colspan='1' > My favorite and </td> <td colspan='1' > You've just got </td> <td colspan='1' > Title: My favor </td> <td colspan='1' >              80 </td> <td colspan='1' > [-0.02086931467 </td> <tr>
<td colspan='1' >             998 </td> <td colspan='1' >             625 </td> <td colspan='1' >      B0009ET7TC </td> <td colspan='1' >  A2FSDQY5AI6TNX </td> <td colspan='1' >               5 </td> <td colspan='1' > My furbabies LO </td> <td colspan='1' > Shake the conta </td> <td colspan='1' > Title: My furba </td> <td colspan='1' >              47 </td> <td colspan='1' > [-0.00974910240 </td> <tr>
<td colspan='1' >             999 </td> <td colspan='1' >             619 </td> <td colspan='1' >      B007PA32L2 </td> <td colspan='1' >  A15FF2P7RPKH6G </td> <td colspan='1' >               5 </td> <td colspan='1' > got this for th </td> <td colspan='1' > all i have hear </td> <td colspan='1' > Title: got this </td> <td colspan='1' >              50 </td> <td colspan='1' > [-0.00521062919 </td> <tr>
<td colspan='1' >            1000 </td> <td colspan='1' >             999 </td> <td colspan='1' >      B001EQ5GEO </td> <td colspan='1' >  A3VYU0VO6DYV6I </td> <td colspan='1' >               5 </td> <td colspan='1' > I love Maui Cof </td> <td colspan='1' > My first experi </td> <td colspan='1' > Title: I love M </td> <td colspan='1' >             118 </td> <td colspan='1' > [-0.00605782261 </td> <tr>
<tr>
<td colspan='10' style="text-align: left;"> [1000 rows x 9 columns] </td> <tr>

*  Use DataGrid.save() to save to disk
** Use DataGrid.show() to start user interface

现在，我们创建一个新的DataGrid，将数字转换为嵌入式：

In [8]:
import ast # 将字符串形式的数字列表转换为数字列表dg = kg.DataGrid(    name="openai_embeddings",    columns=data.get_columns(),    converters={"Score": str},)for row in data:    embedding = ast.literal_eval(row[8])    row[8] = kg.Embedding(        embedding,         name=str(row[3]),         text="%s - %.10s" % (row[3], row[4]),        projection="umap",    )    dg.append(row)

新的DataGrid现在具有一个带有适当数据类型的嵌入列。

In [9]:
dg.info()

DataGrid (in memory)
    Name   : openai_embeddings
    Rows   : 1,000
    Columns: 9
#   Column                Non-Null Count DataGrid Type
--- -------------------- --------------- --------------------
1   Column 1                       1,000 INTEGER
2   ProductId                      1,000 TEXT
3   UserId                         1,000 TEXT
4   Score                          1,000 TEXT
5   Summary                        1,000 TEXT
6   Text                           1,000 TEXT
7   combined                       1,000 TEXT
8   n_tokens                       1,000 INTEGER
9   embedding                      1,000 EMBEDDING-ASSET

我们只需保存数据表格，就完成了。

In [ ]:
dg.save()

### 3. 渲染2D投影要在笔记本中直接渲染数据，只需展示它。请注意，每一行都包含一个嵌入投影。向右滚动以查看每行的嵌入投影。投影空间中点的颜色代表分数。

In [11]:
dg.show()

按“分数”分组，查看每个组的行。

In [22]:
dg.show(group="Score", sort="Score", rows=5, select="Score,embedding")

这个数据网格的示例托管在这里：https://kangas.comet.com/?datagrid=/data/openai_embeddings.datagrid